.transactionHistory {
    height: 400px;
    width: 100%;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    background-color: white;

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.completed {
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
        }

        &.processing {
            background-color: rgba(255, 217, 0, 0.05);
            color: goldenrod;
        }

        &.failed {
            background-color: rgba(255, 0, 0, 0.05);
            color: crimson;
        }
    }
}